// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// HEX Color
$bg__color: #f5f5f5;
$header__bg-color: #fff;
$link__active-color: #f00;
$telegram__color: #26A3E1;
$news__heading-color: #111;
$categories__color: #d9d9d9;
$input__border-color: #000000;
$btn__firstLinear-color: #1e96c8;
$btn__secondLinear-color: #37aee2;

// Decimal Color
$lang__bg-color: rgba(0, 0, 0, 0.6);
$search__bg-color: rgba(0, 0, 0, 0.1);
$message__bg-color: rgba(0, 0, 0, 0.25);
$footer__bg-color: rgba(17, 17, 17, 0.8);
$news__heading-color: rgba(0, 0, 0, 0.50);
$open-navbar__bg-color: rgba(0, 0, 0, 0.4);
$lang__list-color: rgba(245, 245, 245, 0.5);
$search__placeholder-color: rgba(0, 0, 0, 0.5);
